header {
    position: relative;
    text-align: center;
    color: black;
    width: 100vw;
    background: black;
    overflow: hidden;
    background: #40494A;  /* fallback colour. Make sure this is just one solid colour. */
    background: -webkit-linear-gradient(#5595A1, #40494A), url("./images/victoire-samothrace.jpg");
    background: linear-gradient(#5595A1,#40494A), url("./images/victoire-samothrace.jpg"); /* The least supported option. */
}

body {
    background-color: #40494A;
    color: white;
    text-align: center;
}

header > img {
    width: 100%;
    opacity: 0.5;
    -webkit-mask-image: linear-gradient(#F58931,#40494A);
    mask-image: linear-gradient(#F58931,#40494A);
}

h1 {
    font-size: 5rem;
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header h2 {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.hero-header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }

.fa-wand-sparkles {
    font-size: 1.2rem;
}

.social-media {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

.social > a {
    font-size: 3rem;
    color: #31D7F5;
}

.social i:hover {
    text-shadow: 0 0 10px #728183, 0 0 20px #728183, 0 0 30px #728183;
}

#hero img {
    width: 250px;
    border-radius: 50%;
    filter: drop-shadow(5px 5px 5px black);
}

#hero h3 {
    color: #F58931 !important;
}

h3 {
    color: #F58931 !important; 
}

.skills h4 {
    color: #F58931 !important; 
}

.skills {
    text-align: left !important;
}

hr {
    border: dashed #728183 6px;
    border-bottom: none;
    width: 50%;
    margin: 100px auto;
}

.skills .icon {
    width: 1.75em;
    color: #5595A1 !important;
}

.footer a {
    color: #728183 !important;
}

.footer p {
    color: #728183 !important;
}

.projects h3 {
    text-align: left !important;
}

.card {
    background-color: #728183;
    color: white;
}

.card img {
    filter: grayscale(30%);
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card .btn {
    background-color: #31D7F5;
    border: #31D7F5;
    color: #40494A;
    font-weight: 500;
    margin-top: auto;
}

.card .card-text {
    text-align: justify;
    margin-top: 1.2rem;
    border-top: 2px solid #40494A;
    border-bottom: 2px solid #40494A;
    padding: 10px;
    /*height: 20rem; change this with media size! */
}

.tags > .skill-tags {
    font-weight: 600;
    font-size: small;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #40494A;
    color: white;
    line-height: 22pt;
    border-radius: 4px;
    padding: 3px;
}

.tags {
    text-align: left;
    margin-bottom: 1rem;
}

.projects h5 {
    height: 3.5rem;
}

.contact-me {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.contact-item {
    width: 300px;
    /* border: 2px solid red; */
}

.contact-item > p {
    font-size: 150%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}

.contact-item a:hover {
    filter: drop-shadow(4px 4px 8px #728183);
}
