
header {
    position: relative;
    height: 100vh;
    background: url('./images/victoire-samothrace.jpg') no-repeat center center / cover;
  }
  
header::after {
    /* Create a gradient overlay that fades out the image */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(85, 149, 161, 0.3) 20%, #40494A);
  }

body {
    background-color: #40494A;
    color: white;
    text-align: center;
}

header > img {
    width: 100%;
    opacity: 0.3;
}

h1 {
    font-size: 5rem;
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;

}

header h2 {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: italic;
    color: rgb(39, 38, 38);
}

.hero-header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }

.fa-wand-sparkles {
    font-size: 1.2rem;
}

.social-media {
    background-color: #728183;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    height: 6rem;
}

.social > a {
    font-size: 3rem;
    color: #31D7F5;
}

.social i:hover {
    text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;
}

.hero {
    margin-bottom: 5rem;
}

.socials {
    margin-bottom: 2rem; 
}

.hero img {
    width: 250px;
    border-radius: 50%;
    filter: drop-shadow(5px 5px 5px black);
}

.hero h3 {
    color: #F58931 !important;
}

h3 {
    color: #F58931 !important; 
}

.skills h4 {
    color: #F58931 !important; 
}

.skills {
    text-align: left !important;
}

hr {
    border: dashed #728183 6px;
    border-bottom: none;
    width: 50%;
    margin: 100px auto;
}

.skills .icon {
    width: 1.75em;
    color: #5595A1 !important;
}

.footer a {
    color: #728183 !important;
}

.footer p {
    color: #728183 !important;
}

.projects h3 {
    text-align: left !important;
}

.card {
    background-color: #728183;
    color: white;
}

.card img {
    filter: grayscale(30%);
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card .btn {
    background-color: #31D7F5;
    border: #31D7F5;
    color: #40494A;
    font-weight: 500;
    margin-top: auto;
}

.card .card-text {
    text-align: justify;
    margin-top: 1.2rem;
    border-top: 2px solid #40494A;
    border-bottom: 2px solid #40494A;
    padding: 10px;
    /*height: 20rem; change this with media size! */
}

.tags > .skill-tags {
    font-weight: 600;
    font-size: small;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #40494A;
    color: white;
    line-height: 22pt;
    border-radius: 4px;
    padding: 3px;
}

.tags {
    text-align: left;
    margin-bottom: 2rem;
}

.projects h5 {
    height: 3.5rem;
}

.contact-me {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.contact-item {
    width: 300px;
    /* border: 2px solid red; */
}

.contact-item > p {
    font-size: 150%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}

.contact-item a:hover {
    filter: drop-shadow(4px 4px 8px #728183);
}

@media (max-width: 750px){
    .social-media{
        gap: 30px;
    }

    .contact-me{
        display: flex;
        flex-direction: column;
        gap: 0px;
    }
}

@media (min-width: 576px){

    .card .card-text {
        height: 23rem;
    }
}

@media (min-width: 768px){

    .card .card-text {
        height: 28rem;
    }
}

@media (min-width: 992px){

    .card .card-text {
        height: 20rem;
    }
}

@media (min-width: 1200px){

    .card .card-text {
        height: 15rem;
    }
}

@media (max-width: 900px){
    h1 {
        font-size: 3rem;
        font-weight: 500;
    }

    header h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 700px){
    h1 {
        font-size: 2rem;
        font-weight: 500;
    }

    header h2 {
        font-size: 1rem;
    }
}